<div class="container">
  <h1 class="contact-header"> Dont be a stranger....</h1>
  <div class="row">
    <form class="col s12">
        <%= form_for(@contact, :html =>{ multipart: true}) do |f| %>


          <div class ="row">
            <div class= "input-field col s12">
          <%= f.label :name, "What is your name?" %>
          <%= f.text_field :name, class: "input-field col s12" %>
            </div>
          </div>
      
      <div class ="row">
            <div class= "input-field col s12">
              <%= f.label :email, "What is your email?" %>
              <%= f.text_field :email, class: "input-field col s12" %>
            </div>
          </div>
      
      <div class ="row">
            <div class= "input-field col s12">
              <%= f.label :subject, "What do you want to talk about?" %>
              <%= f.text_field :subject, class: "input-field col s12" %>
            </div>
          </div>
      
      <div class ="row">
            <div class= "input-field col s12">
              <%= f.label :message, "Can you give me more details?" %>
              <%= f.text_area :message, class: "materialize-textarea" %>
            </div>
          </div>
      
      <div class="con-button">
        <%= f.submit :style => 'background-color: white;', class: "btn" %>
      </div>
      
      <% end %> 
      
      </form> 
     </div>
    </div>
<br>
<br>

<!-- https://matharvard.ca/posts/2014/jan/11/contact-form-in-rails-4/ -->
    

