<p id="notice"><%= notice %></p>


<div class="row">
<% @posts.each do |post| %>
<div class= "col l3">
  <div class= "card medium">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag post.main_image_url %>
      <!--Materialize, JavaScript, Media, MaterialBoxed -->
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= post.title %></span>
      <center><p><%= link_to 'Show', post, class: "ebd-links" %> |
      <%= link_to 'Edit', edit_post_path(post), class: "ebd-links" %> |
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "ebd-links" %></p></center>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= post.title %><i class="material-icons right">Close</i> <p><%= post.post_desc %> </p>
      </span>
     
    </div>
  </div>
</div>
  <% end %>
</div> 

<center>
<div class="container">
  <%= link_to 'New Post', new_post_path, class: "nav-links"%> 
</div>
</center>

