<p id="notice"><%= notice %></p>


  <div class="parallax-container">
    
      <%= image_tag @post.main_image_url, :class => "main_image_show" %>
   
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header"> <%= @post.title %></h2>
      <p class="grey-text text-darken-3 lighten-3"> <%= @post.body %></p>
    </div>
  </div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
