<p id="notice"><%= notice %></p>


  <div class="parallax-container">
    
      <%= image_tag @post.main_image_url, :class => "main_image_show" %>
   
  </div>
  <div class="section white">
    <div class="row container">
      <h7 class="show-header"> <%= @post.title%></h7>
      <p class="show-text"> <%= @post.body.html_safe %></p>
    </div>
    <div class="container">
    <%= link_to 'Edit', edit_post_path(@post), class: "ebds-links" %> |
    <%= link_to 'Back', posts_path, class: "ebds-links" %> |
      <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "ebds-links" %>
    </div>
  </div>
<!--grey-text text-darken-3 lighten-3-->


